/* https://userstyles.org/styles/141626/dark-4chan */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("4chan.org") {
 
  /* body background and text color */
  html { background-color: #0c0c0c; }
  body { background-color: #0c0c0c; background: #0c0c0c; color: #b2b2b2; }
  
  /* links colors */
  a:link { color: #4285f4 !important; }
  a:link:hover { color: #2e5daa !important; }
  
  /* general changes */ 
  a img { border: none; }
  hr { color: #63eaaf !important; background-color: #63eaaf !important; border: none; border-top: 1px solid black; }
  li { color: #b2b2b2; }
  * { border: none !important; }
  input { border: 1px solid black !important; }
  input:hover { background-color: #191919; }
  button { border: 1px solid black !important; background-color: black; color: #b2b2b2; }
  button:hover { background-color: #0c0c0c; }
  .error { color: #ff1919; }
  .button { color: #4285f4 !important; }
  .button:hover { color: #2e5daa !important; }
  h2 { background-color: black; }
  .plus { background-color: #191919; }
  .plus:hover { background-color: #0c0c0c; }
  .left-box .boxbar, .right-box .boxbar { background: black; }
  .stripe-button-el:disabled span { background-color: black; box-shadow: none; color: #b2b2b2; text-shadow: none; }
  input[type="text"] { background-color: black; color: #b2b2b2; }
  input { background-color: black; color: #b2b2b2; }
  #theme-css { background-color: #191919; color: #b2b2b2; }
  kbd { color: black; }
  #quickReply textarea, #postForm textarea { background-color: black; color: #b2b2b2; border: none; }
  #customCSSMenu textarea  { background-color: black; color: #b2b2b2; }

  
  /* "What is 4chan?" box */
  #announce { background: #191919; }  
  #announce p { color: #b2b2b2; }
  #announce .boxbar { background: black; }
  
  /* front page boxes */
  .boxbar { background: black; color: #b2b2b2; }
  .boxbar h2 { color: white; }
  .box-inner { background: #191919; }
  .box-outer { border: none; margin-bottom: none; padding-bottom: 0px; }
  
  /* boards box */
  .content h3 { background: black; border: none; color: #b2b2b2; font-size: 116%; padding: .5em; }
  .content { color: #b2b2b2; }
  .boxcontent { color: #b2b2b2; }
  dt, dt.first { color: #63eaaf; }
  .boxcontent dd { border-bottom: solid #63eaaf 1px; }
  .boxcontent > ul { color: #63eaaf; }
  .boxcontent h3 a { color: #63eaaf; }
 
  /* popular threads images */
  .c-thread img { border: none; }
  
  /* disclaimer dialog box */
  #disclaimer-dialog .hd { border: none; padding: 0; padding-left: .5em; line-height: 2em; background: black; background-color: black; color: #fff; position: relative; }
  #disclaimer-dialog { border: none; text-align: left; position: absolute; margin: auto; width: 300px; box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.10); background: #191919; background-color: #191919; left: 50%; margin-left: -151px; }
  
  /* filter and options buttons */
  #filter-btn:hover, #opts-btn:hover { color: #2e5daa; }
  /* filter and options dropdown menu */
  #fp-menu { background-color: black; }
  #fp-menu li:hover { background-color: #0c0c0c !important; }
  
  /* front page footer */
  #ft ul { background-color: #0c0c0c; border: none; }
  #ft li { background-color: #191919; border: none; }
  #ft li a { color: #4285f4; }
  #ft li a:hover { color: #2e5daa; }
  #ft li.current, #ft li.fill { background: #0c0c0c; border: none; }
  #ft li.first { border: none; }
  footer li { background-color: #191919; border: none; }  
  footer li:first-child { border: none; }
  footer { border: none; }
  #entries { background-color: #191919; color: #b2b2b2; }
  #entries td { border: 1px solid black; }
  #entries th { background-color: black; border: 1px solid black; }
  
  /* blotter */
  .redtxt { color: #006666; }
  #entries .col-msg { border-left: 1px solid black !important; }
  #entries tr { border-bottom: 1px solid black !important; }
  #entries #msg-1 { border-bottom: none !important; }
  
      /*---------------------------*/
     /* END OF CSS FOR FRONT PAGE */
    /*---------------------------*/
  
      /*-------------------------*/
     /* START OF CSS FOR BOARDS */
    /*-------------------------*/
  
  /* banner */
  div.boardBanner { color: #006666; }
  #bannerCnt { border: 1px solid black; }  
  
  /* global warning */
  .globalMessage { color: #00b3b3; }
  #globalMessage { color: #00b3b3; }
  
  /* start a new thread */
  table.postForm > tbody > tr > td:first-child { background-color: black; color: #b2b2b2; }
  table.postForm > tbody textarea, table.postForm > tbody > tr > td > input[type="text"] { border: 1px solid black !important; }
  
  /* post info */
  div.post div.postInfo span.postNum a { color: #b2b2b2 !important; }
  div.post div.postInfo span.postNum a:hover { color: #2e5daa !important; }
  div.post div.postInfo span.nameBlock span.name { color: #00b3b3; }
  div.post div.postInfo span.subject { color: #006666; }
  div.post div.postInfo span a.replylink { color: #4285f4 !important; }
  span.capcodeMod strong.capcode, .nameBlock.capcodeMod span.name { color: white !important; }
  
  /* post menu */
  .dd-menu li { background-color: black; }
  .dd-menu li:hover { background-color: #191919; }
  
  /* post style */
  div.reply { background-color: black; border: none !important; }
  .reply:target, .reply.highlight { background: #191919 !important; border: none !important; background-color: #191919; }
  a.replylink:not(:hover) { color: #4285f4 !important; }
  
  /* post style hover */
  #quote-preview:not(.ws) { background-color: black !important; border: 1px solid #191919 !important; } /* big up to Babkock */
  #post-preview { background-color: black !important; border: 1px solid !important; } /* big up to Babkock */
  
  /* start a new thread */
  table.postForm > tbody > tr > td:first-child { background-color: black; color: #b2b2b2; border: 1px solid #b2b2b2; }
  postForm tbody tr { border: 1px solid black; }
  
  /* catalog filter */
  .panel { box-shadow: 0 0 5px grey; background-color: black; }
  
  /* archive */
  #arc-list .quotelink { color: #4285f4 !important; }
  #arc-list .quotelink:hover { color: #2e5daa !important; }
  
  /* page list */
  div.pagelist { background: black; border: none; }
  div.pagelist div.cataloglink { border: none; }
  div.pagelist { color: #b2b2b2; }
  .burichan_new .backlink a, .yotsuba_b_new .backlink a { color: #4285f4 !important; }
  .burichan_new .backlink a:hover, .yotsuba_b_new .backlink a:hover { color: #2e5daa !important; }
  
  /* footer */
  div#absbot { color: #b2b2b2; }
  div#absbot a:not(:hover) { color: #4285f4 !important; }
  
  /* boards */
  div#boardNavDesktop { color: #b2b2b2; }
  div#boardNavDesktopFoot { color: #b2b2b2; }

 /* boards.4chan.org/f */
  .postblock { background-color: black; color: #b2b2b2; border: 1px solid #b2b2b2; }
  table.flashListing tr:nth-of-type(2n+1) { background-color: #191919; }
  .highlightPost:not(.op) { background: #333333 !important; background-color: #333333 !important; border-color: #d69595 !important; }
  table.flashListing .name { color: #00b3b3; }
  table.flashListing .subject { color: #006666; }
  
 /* captcha */
  #g-recaptcha,  #qrCaptchaContainer { filter: invert(100%) hue-rotate(180deg) !important; }
  
      /*-----------------------*/
     /* END OF CSS FOR BOARDS */
    /*-----------------------*/

}

@-moz-document url-prefix("https://www.google.com/recaptcha/api2/") { 
  
  #rc-imageselect, .rc-image-tile-target { filter: invert(100%) hue-rotate(180deg) !important; }

}

@-moz-document url-prefix("https://www.google.com/recaptcha/api2/anchor?k=6Ld2sf4SAAAAAKSgzs0Q13IZhY02Pyo31S2jgOB5&co=aHR0cHM6Ly9wYXRyaWNraGxhdWtlLmdpdGh1Yi5pbzo0NDM.&hl") {

  #rc-imageselect, .rc-image-tile-target { filter: invert(100%) hue-rotate(180deg) !important; }
  
}
