/* https://userstyles.org/styles/147367/dark-homepage */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("fuckinghomepage.com") {

  body { background-color: black; background-image: none; color: #b2b2b2; text-shadow: #191919 1px 1px 0px; }
  a:link { color: #006666 !important; border-bottom: 1px solid #191919 !important; }
  a:link:hover { color: #005151 !important; }
  .Post a.Title { color: #006666; text-shadow: none; }
  .Post a.Title:hover { text-decoration: none; }
  .Post .PostBody small { color: #99c1c1; }
  
}

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("fuckinghomepage.com") {

  body { background-color: black; background-image: none; color: #b2b2b2; text-shadow: #191919 1px 1px 0px; }
  a:link { color: #4285f4 !important; border-bottom: 1px solid #191919 !important; }
  a:link:hover { color: #2e5daa !important; }
  .Post a.Title { color: #4285f4; text-shadow: none; }
  .Post a.Title:hover { text-decoration: none; }
  .Post .PostBody small { color: #b3cefa; }
  
} 

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("fuckinghomepage.com") {

  body { background-color: black; background-image: none; color: #b2b2b2; text-shadow: #191919 1px 1px 0px; }
  a:link { color: #ff0000 !important; border-bottom: 1px solid #191919 !important; }
  a:link:hover { color: #cc0000 !important; }
  .Post a.Title { color: #ff0000; text-shadow: none; }
  .Post a.Title:hover { text-decoration: none; }
  .Post .PostBody small { color: #ff9999; }
  
}
